.header-wrapper {
    background-image: url(assetts/header\ gilrmore\ girls\ pic\ .jpeg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 400px;
        height: 140px;
        background-color: grey;
        align-items: center;
     padding: 60px 100px;
      
     }
     
     .navlink {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
        align-items: center;
        font-size: 30px;
        display: flex row;
        justify-content: space-evenly;
        padding-left: 200px;

    }

    .navlink:hover{

        color: white;
        transition: 2s;
        letter-spacing: 3px;

    }
    
    .nav {
        align-items: center;
        background-color: lightblue;
        height: 50px;
        padding-top: 20px;
        
        
    }

       
        
     
    .button-quiz {
        width: 400px;
        border: 10px black solid;
        background-image: url(assetts/lukes.png);
       background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        height: 100px;
        opacity: 0.5;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: 50px; 

    }

    .quizzes {
    display: flex; 
    justify-content: space-between;
    }

    
    .middle-home {
        text-align: center;
        height: 1x; 
        color: black;
        font-size: 25px;
        font-family: cursive;
        
    }

    .main-wrapper {
        
        margin: 10px 10px 10px 10px;
        justify-content:space-evenly;
        display: flex;
        background-color: gray;
        padding: 10px;
        
    }


.left-column {
        
        
        border: 20 px black solid;
        padding: 25px 25px 25px 25px;
        background-color: darkgray;
    }



    .right-column {
        
        border: 20 px black solid;
        padding: 25px 25px 25px 25px;
        background-color: darkgrey;
    }
        

    .middle-column {
        
        background-color: darkgrey;
        border: 20 px black solid;
        padding: 25px 25px 25px 25px;

    }


    
    .bottom-section {
        background-color: lightblue;
        display: flex;
        justify-content:space-between;
       border-bottom: 30px black solid;
    }
  

    .map {
        margin-left: 50px;
    }

    .map-title {
        font-size: 30px;
        display: center;
        margin-top: 50px;
        padding-left: 30px;
    }
    
    .icon {
        font-size: 120px;
        padding-top: 30px;
        margin-right: 50px;
        opacity: 0.7;

        }

      
    .form {
        font-size: 30px;
        margin-bottom: 30px;
    }
    

   
/* emily and richard page */

        .flip-container {
        flex-wrap: wrap; 
        display: flex;
        justify-content: space-evenly; 
        background-color: teal;
        margin-bottom: 100px;
        }



    .flip-box {
    background-color: transparent;
    width: 30%;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
    padding-top: 40px;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: linen;
        
        display: center;
        height: 200px; 
        width: 200px; 
        border: 5px black solid;
        margin-left: 40px;
        font-family: monospace;
        padding-top: 50px;
        font-size: 20px;

        
    transform: rotateY(180deg);
  } 


  

.footer {
    display: flex;
    display: center;
    align-items: center;
}





  
/* Rory's page */

  .Rory {
      margin-left: 400px;
      margin-top: 100px;
    height: 50px;
    width: 100px;
    border: 5px black solid;

    background-color: purple;
    color: white;
    
  }

  .Bad-at-Dating {
    height: 200px;
    width: 300px;
    border: 10px black solid;

    background-color: purple;
    color: white;
    font-size: 3em;
    align-items: top;
    content: 100%;
    margin-left: 200px;

  }

  .Books {
      margin-top: 300px;

    height: 50px;
    width: 100px;
    border: 5px black solid;

    background-color: purple;
    color: white;
    

  }

  .main-rory-image {
      margin-left: 200px;
      z-index: 8;
      opacity: 0.7;
  }
   
.Rorys {
    position: relative;
  }
  
  .Rory {
    position: relative;
    z-index: 1;
    border: solid;
    height: 8em;
    margin-bottom: 1em;
    margin-top: 5em;
    width: 20em;
  }
  .Books {
    position: absolute;
    z-index: 3; /* put .gold-box above .green-box and .dashed-box */
    background: gold;
    width: 80%;
    left: 60px;
    top: 3em;
    font-size: 50px;
  }
  .Bad-at-Dating {
    position: absolute;
    z-index: 2; 
    background: lightgreen;
    width: 20%;
    margin-left: 550px;
    top: -25px;
    height: 7em;
    opacity: 0.6;
  }


  .Stuck-Up {
      margin-left: 43px;
      position: absolute;
      z-index: 5;
      background: violet;
      width: 300px;
      height:200px;
      font-size: 50px;

  }
  

  .main-rory {
      background-color: grey;








      /* lorelai page */
  }
  .dropdown {
    display: inline-block;
    position: relative;
   
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }


  .button-lor {
      background-color: powderblue;
      margin-top: 100px;
      margin-left:100px;
      height: 50px;
  }


.middle {
    display: flex;
    
}

.speech-bubble-lor {
    margin-left: 1000px;
}







/* trying out the social bar on Rory's page */

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  


  /* trying a button on emily and richards' page*/
  .button-em {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button-em:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button-em:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s

  }

  /* }trying out a speech bubble */

  *{
    margin:0px;
    padding:0px;
  }
  
  .circular-sb {
    width: 250px;
    border: 5px solid #00bfb6;
    padding: 80px 0px;
    margin: 30px auto;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    font-family: arial;
    position: relative;
    color: #00bfb6;
  }
  
  
  /*right circle shape speech bubble*/
  
  .circle1 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: -15px;
    bottom: 23px;

  }
  
  .circle1:before {
    content: "";
    position: absolute;
    width: 25px;
    padding: 20px;
    border-radius: 50%;
    right: 0px;
    bottom: 0px;
    background: #fff;
  }
  
  .circle2 {
    border: 5px solid #00bfb6;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    right: -60px;
    bottom: 5px
  }





  /* trying out an accordian on lorelai page */
  /* Style the buttons that are used to open and close the accordion panel */

  .accordian-title {
      font-size: 50px;
      background-color: gray;
  }
.accordion {
    background-color: #eee;
    color: lightcoral;
    cursor:pointer;
    padding: 10px;
    width: 200%;
    text-align: left;
    border: 5px black solid;
    outline:#00bfb6;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #00A4BD;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: tan;
    display:flex;
    overflow: hidden;
  }